<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h3><%= subtitle %></h3>
    <p>Welcome to <%= title %></p>
    <% for (let i = 0; i < 5; i++) { %>
      <p>Estoy usando ejs <%= i %></p>
      <% } %>
  </body>
</html>
